<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cstery.chengsterymall.mapper.OrderItemsMapper">


    <select id="getHotProduct" resultType="com.cstery.chengsterymall.domain.vo.Hot10VO">
        SELECT oi.product_name as product_name, SUM(oi.quantity) as product_sales
        FROM order_items oi
        WHERE oi.order_id IN
        <foreach item="orderId" collection="orderIdList" open="(" separator="," close=")">
            #{orderId}
        </foreach>
        GROUP BY oi.product_name
        ORDER BY product_sales DESC
        LIMIT 10
    </select>
</mapper>
